@model OnlineSite.Models.ProfileModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Profile Page";
}

<form asp-controller="Dashboard" asp-action="Profile" method="post" class="form-horizontal">
    <div class="container-fluid">
        <!-- .row -->
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="white-box">
                    <div class="user-bg">
                        <img id="photoImage" width="100%" alt="user" src="~/images/generic-user.png">
                        <div class="overlay-box">
                            <div class="user-content">
                                <a href="javascript:void(0)"><img src="~/images/generic-user.png" class="thumb-lg img-circle" alt="img"></a>
                                <h4 class="text-white">User Name</h4>
                                <h5 class="text-white">info@myadmin.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-success">Update Profile</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="white-box">
                    <ul class="nav nav-tabs tabs customtab">
                        <li class="active tab">
                            <a href="#profile" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">Profile</span> </a>
                        </li>
                        <li class="tab">
                            <a href="#photo" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-photo"></i></span> <span class="hidden-xs">Photo</span> </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <div class="form-group">
                                <label class="col-md-12">Full Name</label>
                                <div class="col-md-12">
                                    <input asp-for="FullName" type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input asp-for="Username" type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" />
                                    @*<input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Password</label>
                                <div class="col-md-12">
                                    <input asp-for="Password" type="password" value="password" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Phone No</label>
                                <div class="col-md-12">
                                    <input asp-for="PhoneNumber" type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Message</label>
                                <div class="col-md-12">
                                    <textarea asp-for="Message" rows="5" class="form-control form-control-line"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Select Country</label>
                                <div class="col-sm-12">
                                    <select class="form-control form-control-line">
                                        <option>London</option>
                                        <option>India</option>
                                        <option>Usa</option>
                                        <option>Canada</option>
                                        <option>Thailand</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="photo">
                            <div class="col-md-12">
                                <div class="btn btn-primary">
                                    <input type="file" id="imageBrowse" style="width: 600px" />
                                </div>
                            </div>
                            <hr />
                            <div class="col-md-4">
                                <div id="imgPreview" class="thumbnail" style="display:none">
                                    <img class="img-responsive" id="targetImg" />
                                    <div class="white-box">
                                        <a href="#" onclick="ClearPreview()"><i class="icon-trash"></i></a>
                                        <span id="description"></span>
                                    </div>
                                    <a href="#" class="btn btn-default" onclick="Uploadimage()">Upload</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
</form>

<script src="~/js/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#imageBrowse').change(function () {
            var File = this.files;
            if (File && File[0]) {
                ReadImage(File[0])

            }
        });

    });

    var ReadImage = function (file) {
        var reader = new FileReader;
        var image = new Image;
        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result;
            image.onload = function () {
                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";
                $("#targetImg").attr('src', _file.target.result);
                $("#description").text("Size:  " + size + ", " + height + "X " + width + ", " + type + "");

                $("#imgPreview").show();
            }

        }

    }

    var ClearPreview = function () {
        $("#imageBrowse").val('');
        $("#description").text('');
        $("#imgPreview").hide();
    };

    var Uploadimage = function () {
        var file = $("#imageBrowse").get(0).files;
        var data = new FormData;
        data.append("ImageFile", file[0]);

        $.ajax({
            type: "POST",
            url: "/Dashboard/ImageUpload",
            contentType: false,
            processData: false,
            data: data,
            success: function (message) {
                alert(message);
            },
            error: function () {
                alert("There was error uploading files!");
            }
        });
    };
</script>
